#header{  
    display: flex;
    align-items: center;
    justify-content:space-between; 
    padding: 20px;
    background:#D3D3FF; 
    box-shadow: 0px 4px 4px 0px #00000040;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    position: sticky;
}

#navbar .nav-item {
    list-style: none;
  }
  
.nav-item   {
    font-family: Cinzel;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    padding: 0 30px;
    line-height: 100%;
    letter-spacing: 0%;
    }

.login a {
        font-family: Cinzel;
        font-weight: 400;
        font-style: normal; 
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-decoration-skip-ink: auto;
        color: #090933;
}     
.bi-person-fill {
    margin-right: 20px;
    font-size: 25px; 
}